/* Style Guide */

:root {
    /* #region colors*/
    --color-iris-primary-brand: #4D5AE5;
    --color-ocean-pressed-state: #404BBF;
    --color-navy-blue-dark: #2E2F42;
    --color-green-success: #31D0AA;
    --color-slate-body-text: #434455;
    --color-light-slate-subtle-text: #8E8F99;
    --color-cornflower-accent: #E7E9FC;
    --color-cloud-light: #F4F4FD;
    --color-navy-blue-modal-overlay: #2E2F42;
    --color-grey-hero-background: #2E2F42;
    --color-white-background: #FFFFFF;
    --color-dairy-mdal-background: #FCFCFC;
    /* #endregion colors */

    /* #region typography */

    --font-family: "Roboto", sans-serif;
    --font-weight: 400;
    --font-size: 16px;
    --letter-spacing: 0.02em;
    --line-height: 1.5;

    /* #region Title/Header 1 */
    --h1-font-weight: 700;
    --h1-font-size: 56px;
    --h1-line-height: 1.07;
    --h1-letter-spacing: 0.02em;
    /* #endregion Title/Header 1 */

    /* #region Header 2 */
    --h2-font-weight: 700;
    --h2-font-size: 36px;
    --h2-line-height: 1.11;
    --h2-letter-spacing: 0.02em;
    /* #endregion Header 2 */

    /* #region Header 3 */
    --h3-font-weight: 500;
    --h3-font-size: 20px;
    --h3-line-height: 1.2;
    --h3-letter-spacing: 0.02em;
    /* #endregion Header 3 */

    /* #region Small */
    --small-font-size: 12px;
    --small-line-height: calc(14px/12);
    --small-letter-spacing: 0.04em;
    /* #endregion Small */

    /* #region Body Medium */
    --body-medium-font-weight: 500;
    /* #endregion Body Medium */

    /* #region Button Text */
    --button-font-family: "Roboto", sans-serif;
    --button-font-size: 16px;
    --button-font-weight: 500;
    --button-line-height: 1.5;
    --button-letter-spacing: 0.04em;
    /* #endregion Button Text */

    /* #region Link */
    --link-font-size: 12px;
    --link-line-height: 1.17;
    --link-letter-spacing: 0.04em;
    --link-decoration: Underline;
    /* #endregion Link */

    /* #region Logo */
    --logo-font-family: "Raleway", sans-serif;
    --logo-font-weight: 800;
    --logo-font-size: 18px;
    --logo-letter-spacing: 0.03em;
    --logo-line-height: 1.17;
    /* #endregion Logo */

    /* #endregion typography */

}


body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);

    color: var(--color-slate-body-text);
    background-color: var(--color-white-background);
}

a {
    font-style: normal;
    text-decoration-line: none;

    color: inherit;
}

.link {
    text-decoration-line: none;
}

.list {
    list-style: none;
}


/* Header */


/* Logo */
.logo {

    font-family: var(--logo-font-family);
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
    line-height: var(--logo-line-height);
    letter-spacing: var(--logo-letter-spacing);

    color: var(--color-iris-primary-brand);

    text-transform: uppercase;
}

.logo-dark {
    color: var(--color-navy-blue-dark);
}

.logo-light {
    color: var(--color-cloud-light);
}

.nav-link {
    color: var(--color-navy-blue-dark);
    font-weight: var(--body-medium-font-weight);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-ocean-pressed-state);
}

address {
    font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--color-ocean-pressed-state);
}

/* Hero */
.hero {
    background: var(--color-navy-blue-dark);
}

.title-hero {
    text-align: center;
}

.title-hero {
    color: var(--color-white-background);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    letter-spacing: var(--h1-letter-spacing);
}

.button {
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
    letter-spacing: var(--button-letter-spacing);

    color: var(--color-white-background);
    background: var(--color-iris-primary-brand);

    cursor: pointer;
}

.button:hover,
.button:focus {
    background: var(--color-ocean-pressed-state);
}

.subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    letter-spacing: var(--h3-letter-spacing);
    color: var(--color-navy-blue-modal-overlay);
}

.text {
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

/* What are we doing */

.title {
    text-align: center;

    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);

    color: var(--color-navy-blue-dark);

    text-transform: capitalize;
}

/* our-team */
.our-team {
    background: var(--color-cloud-light);
}

.our-team-list-item {
    background-color: var(--color-white-background);
}

/* footer */
.footer {
    background: var(--color-navy-blue-dark);
}

.footer-text {
    color: var(--color-cloud-light);
}


/* Portfolio */

.filter-button {
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    letter-spacing: var(--button-letter-spacing);

    color: var(--color-iris-primary-brand);
    background-color: var(--color-cloud-light);

    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-white-background);
    background-color: var(--color-ocean-pressed-state);
}

.card-list-item {
    background: var(--color-white-background);
}